* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}

html {
  font-family: Open Sans, Arial, sans-serif;
  color: #000;
  font-size: 62.5%;
}

body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper, .container, ol, li, header, footer {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  width: 100%;
}

.wrapper {
  flex-direction: column;
  align-items: center;
}

section, article, .footer_container {
  display: flex;
  flex-wrap: wrap;  
}

.footer_container {
  margin-top: 23rem;
}

.container {
  display: flex;
  flex-flow: column wrap;
}

ol, header, footer, article {
  flex-direction: column;
  position: relative;
}

header, footer {
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(10, 14, 52, 0.85);
  position: absolute;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(10, 14, 52, 0.85);
  position: absolute;
}

.icon {
  fill: white;
  align-self: center;
}

.buttons {
  display: flex;
  margin: 90px 0;
  position: relative;
  width: 80%;
} 

.button {
  background: #5c42b0;
  color: white;
  border-radius: 35px;
  margin-top: 15px;
  padding: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.button span {
  margin-left: 1rem;
  font-size: 2vmin;
  padding: 0.9em;
}

.logo svg {
  width: 100px;
  height: 100px;
}

.num_big {
  background: #5c42b0;
  color: white;
  font-weight: bold;
  display: flex;
  z-index: 1;
}

.num_big span {
  margin: auto;
  font-weight: bold;
  position: relative;
}

.num_big span:after {
  position: absolute;
  background-color: #917bce;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  bottom: -5px;
  left: 0;
}

h4 span{
  position: relative;
  font-size: 0.5em;
  color: #000;
  vertical-align: top;
  margin-right: 0.8em;
  vertical-align: top;
  padding-top: calc(1em/2);
}

.players .growth span {
  color: #A297CC;
}

h4 span:after {
  position: absolute;
  background-color: #5f3cb6;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 2px;
  bottom: -5px;
  left: 0;
}

.growth span:after {
  background-color: #fff;
}

.logo {
  display: flex;
  background: #5c42b0;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}

.logo svg {
 margin: auto;
}

.logo_text {
  margin: 5rem;
  position: relative
}

footer .logo_text {
  margin-top: auto;
}

.athlets, .players {
  position: relative;
}

.athlets .growth {
  background: #5c42b0;
  color: white;
}

.players .growth {
  background: #151133;
  color: white;
}

.collaboration {
  background: #F5F2F9;
}

.connection {
  background: #fafafa;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: bold;
}

h1, h2 {
  font-size: 8vmin;
}

.button span, footer p {
  text-transform: uppercase;
}

h3 {
  color: #e7e7e7;
}

h4 {
   color: #dddddd;
   font-size: 5vmin;
}

.athlets h3, .players h3 {
  margin: 3rem;
}

.center h3 {
  margin-top: 0.5em;
}

ol {
  padding-left: 0;
  list-style-type: none; 
  list-style-position: inside;
  font-weight: bold;
  margin: 0;
}

li, .center article {
  min-height: 180px;
}

.images {
  background-color: rgba(10, 14, 52, 0.5);
  overflow: hidden;
  min-height: 50rem;
}

article {
  padding: 0 10rem;
  margin-top: auto;
  margin-bottom: auto;
}

header article, footer article {
  display: flex;
  width: 98%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  align-self: flex-start;
  padding: 1rem 0.5em;
 }

header h2 {
  align-self: flex-end;
  margin-left: auto;
}

.footer_group {
 margin-top: auto;
}

footer {
  justify-content: center;
}

footer article {
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  margin-top: 1em;
  font-size: 24px;
  font-weight: normal
}

footer p {
  color: #917bce;
  margin-top: 0;
 }

.button:hover {
  background: #4d3191;
  color: #bdace3;
}

.button:hover .icon {
  fill: #bdace3;
}

.logo:hover {
  background: #4d3191;
  background: linear-gradient(to bottom, #592cc9, #3c2678);
}

.num_big {
  width: 5em;
  height: 5em;
  font-size: 24px;
}

.num_big span {
  margin-top: calc(5em/2 - 1em);
}

@media (min-width: 1921px) {
  body {
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  header {
    justify-content: space-around;
    background-image: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/header320.jpg");
  }

  footer {
    background-image: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/footer320.jpg");
  }

  .beactive .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/beactive320.jpg") no-repeat center;
  }

  .findcontact .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/findcontact320.jpg") no-repeat center;
  }
  
  .workit .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/workit320.jpg") no-repeat center;
  }

  .container {
    flex-direction: column;
    width: 100%;
  }
  
  .buttons {
    flex-flow: column wrap;
    align-items: center;
  }

  .button {
    width: 100%;
  }
 
  .buttons svg {
    width: 24px;
    height: 24px;
  }

  .logo_text {
    width: 133px;
    height: 36px;
  }
  
  .logo {
    width: 72px;
    height: 72px; 
  }
  
  .logo svg {
    width: 56px;
    height: 56px;
  }

  .footer_container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 80px;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 8vmin;
  }

  p {
    font-size: 16px;
  }

  footer p {
    font-size: 14px;
  }

  header h2 {
    max-width: 80%;
  }

  .athlets:before {
    position: absolute;
    z-index: 1;
    content: "";
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/athlets320.png") no-repeat center;
    width: 80%;
    height: 450px;
  }
  
  .players:before {
    position: absolute;
    z-index: 1;
    content: "";
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/players320.png") no-repeat center;
    width: 100%;
    height: 420px;
  }
  
  .athlets h3, .players h3 {
    margin-top: 1rem;
    margin-bottom: 230px;
    align-self: flex-start;
  }

  .center, .container {
    flex-direction: column;
  }

  .num_big {
    margin-left: 2rem;
    margin-top: -4em;
    font-size: 4vmin;
  }

  article {
    padding: 0 2rem;
    min-height: 260px;
  }

  li article {
    justify-content: center;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  header {
    background-image: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/header768.jpg");
  }
  footer {
    background-image: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/footer768.jpg");
  }
  .beactive .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/beactive768.jpg") no-repeat center;
  }
  .findcontact .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/findcontact768.jpg") no-repeat center;
  }
  .workit .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/workit768.jpg") no-repeat center;
  }

  header {
    justify-content: space-around;
  }
  
  .logo_text {
    width: 205px;
    height: 56px;
  }

  .logo {
    margin-top: 40px;
    width: 130px;
    height: 130px; 
  }
 
 .footer_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}

  header h2 {
    max-width: 95%;
    margin-left: 100px;
  }

  h3 {
    font-size: 10vmin;
  }

  footer p {
    font-size: 5vmin;
  }
 
  .center, .container {
    flex-direction: column;
    width: 100%;
  }

  .center article {
    min-height: 320px;
  }

  .center .images {
    min-height: 580px;
  }

  .buttons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .button {
    width: 48%;
  }  

 .buttons svg {
    width: 45px;
    height: 45px;
  } 

 .athlets:before {
    position: absolute;
    z-index: 1;
    content: "";
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/athlets_768.png") no-repeat left;
    width: 80%;
    height: 780px;
    margin-top: 2rem;
    background-position: left;
  }
  
  .players:after {
    position: absolute;
    z-index: 1;
    content: "";
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/players768.png") no-repeat right;
    width: 100%;
    height: 640px;
    margin-top: 0;
  }

  .athlets h3, .athlets article {
    width: 80%;
    margin-left: auto;
  }

  .athlets h3 {
    padding-left: 5rem;
  }

  .athlets h3, .players h3 {
    margin-top: 4rem;
}

  .players h3, .players article {
    width: 80%;
    align-self: flex-start;
  }

  .num_big {
    margin-left: 1.5em;
    margin-top: -3em;
  }
}

@media (min-width: 961px)  {
  header {
    background-image: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/headerdesktop.jpg");
  }
  footer {
    background-image: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/footerdesktop.jpg");
  }
  .beactive .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/beactivedesktop.jpg") no-repeat center;
  }
  .findcontact .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/findcontactdesktop.jpg") no-repeat center;
  }
  .workit .images {
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/workitdesktop.jpg") no-repeat center;
  }

  .container {
    flex-direction: row;
    width: 100%;
  }

  header {
    justify-content: space-between;
  }
  
  footer article {
    width: 80%;
    padding: 0 8rem;
  }
 
  .footer_container {
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-content: center;
  }
  
  .logo_text {
    width: 190px;
    height: 55px;
    align-self: center;
  }

  .logo {
    width: 130px;
    height: 130px;
    margin-top: auto;
  }
  
  h3 {
    font-size: 8vmin;
  } 

  header h2 {
    max-width: 90%;
  }

  footer p {
    font-size: 30px;
  }

  .buttons {
    flex-direction: row;
    justify-content: space-around;
  }

  .button {
    width: 40%;
  }  

 .buttons svg {
    width: 40px;
    height: 50px;
  } 
  .images, .center article {
    width: 50%;
  }

  .center article {
    justify-content: center;
  }

  .findcontact article {
    order: -2;
  }

  .center {
    flex-direction: row;
  }
  
  .athlets:before {
    position: absolute;
    z-index: 1;
    content: "";
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/athletsdesktop.png") no-repeat;
    width: 60%;
    height: 1000px;
    left: 0;
  }
  
  .players:after {
    position: absolute;
    z-index: 1;
    content: "";
    background: url("https://raw.githubusercontent.com/VeraKoptelova/diplomsport/master/images/playersdesktop.png") no-repeat right;
    width: 100%;
    height: 880px;
    right: 0;    
  } 

  .athlets h3, .athlets article {
    width: 60%;
    margin: 20px;
    margin-left: auto;    
  }

  .athlets h3 {
    padding-left: 10rem;
  }

  .players h3, .players article {
    width: 60%;
    margin: 20px;
    padding-left: 10rem;
  }
   
  .players h3 {
    align-self: flex-start;  
  }

  .athlets h3, .players h3 {
    margin-top: 80px;
  }

  li {
    min-height: 260px;
    align-items: center;
  }
  
  .num_big {
    margin-left: calc(-5.5*24px/2);
    margin-top: 25rem;
  } 

  .two {
    order: -1;
  }

  .beactive article, .workit article, .findcontact .images {
    margin-left: calc(-6*24px/2);
  }  
}